@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC');
* {
	font-family: Oxygen;
	text-decoration: none;
}

html,
body {

	text-align: center;
	color: white;
	scroll-behavior: smooth;
  height: 100%;
  min-height: 100%;
}

body{
  margin: 0;
  padding: 15px;
}

html {
	font-size: 25px;
  padding: 0;
	margin: 0;
	background-color: #000000;
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.7), 
		rgba(0, 0, 0, 0.7)
	), url('../assets/img/back.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

*{
  position: relative;
}

.logobox{
  text-align: center;
}
.logobox img{
  margin: 25px;
  width: 30%;
  height: auto;
}

a.standard {
	padding: 12.5px;
	margin: 5px;
	background: transparent;
	font-size: 17.5px;
	border: 2px white solid;
	color: white;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	width: 75px;
	-webkit-transition: 0.5s all ease-in-out;
	-o-transition: 0.5s all ease-in-out;
	-moz-transition: 0.5s all ease-in-out;
	transition: 0.5s all ease-in-out;
}
.coins {
	-webkit-animation: coinin 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: coinin 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes coinin {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes coinin {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}

a.standard:hover {
	background: white;
	color: #003366;
}

@-webkit-keyframes fade-in-dank {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-moz-keyframes fade-in-dank {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-o-keyframes fade-in-dank {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-in-dank {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes slide-in {
	from {
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@-moz-keyframes slide-in {
	from {
		-moz-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	to {
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
}

@-o-keyframes slide-in {
	from {
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	to {
		-o-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes slide-in {
	from {
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	to {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
}

.fade-in {
	-webkit-animation: 1s fade-in-dank ease-in-out;
	-moz-animation: 1s fade-in-dank ease-in-out;
	-o-animation: 1s fade-in-dank ease-in-out;
	animation: 1s fade-in-dank ease-in-out;
}

.slide-in {
	-webkit-animation: 1s slide-in ease-in-out;
	-moz-animation: 1s slide-in ease-in-out;
	-o-animation: 1s slide-in ease-in-out;
	animation: 1s slide-in ease-in-out;
}

#c h3 {
	margin: -10px;
	margin-top: 25px;
	display: inline-block;
}

#c h4 {
	margin: -10px;
	padding: 0;
}

hr {
	margin: 3.75%;
	height: 0;
	background: none;
	border: white 2px solid;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}

hr.thin {
	margin: 3.75%;
	height: 0;
	background: none;
	border: white 2px solid;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
}

img {
	width: 300px;
	height: auto;
}
.small{
  width: 30px;
}

.login {
	margin-top: 100%;
	color: black;
	padding: 2%;
	background-color: white;
	font-family: Oxygen;
	width: 95%;
	height: 100%;
}

#hr {
	border: #55efc4 20px solid;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: #55efc4;
	margin: 10px;
	margin-top: 17.5px;
	width: 0%;
	text-align: center;
	-webkit-transition-delay: 2s;
	-moz-transition-delay: 2s;
	-o-transition-delay: 2s;
	transition-delay: 2s;
	-webkit-transition: width 5s ease-in-out;
	-o-transition: width 5s ease-in-out;
	-moz-transition: width 5s ease-in-out;
	transition: width 5s ease-in-out;
}

#c {
	margin-top: 50%;
	padding-top: 30px;
	margin-bottom: 50%;
}

a {
	font-size: 50%;
}
.hide{
  display: none !important;
}

@-webkit-keyframes shake {
  0% { -webkit-transform: translate(1px, 1px) rotate(0deg); transform: translate(1px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(3px, 2px) rotate(0deg); transform: translate(3px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(3px, 1px) rotate(-1deg); transform: translate(3px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(1px, 2px) rotate(0deg); transform: translate(1px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); transform: translate(1px, -2px) rotate(-1deg); }
}


@-moz-keyframes shake {
  0% { -webkit-transform: translate(1px, 1px) rotate(0deg); -moz-transform: translate(1px, 1px) rotate(0deg); transform: translate(1px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); -moz-transform: translate(-1px, -2px) rotate(-1deg); transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); -moz-transform: translate(-3px, 0px) rotate(1deg); transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(3px, 2px) rotate(0deg); -moz-transform: translate(3px, 2px) rotate(0deg); transform: translate(3px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); -moz-transform: translate(1px, -1px) rotate(1deg); transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); -moz-transform: translate(-1px, 2px) rotate(-1deg); transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); -moz-transform: translate(-3px, 1px) rotate(0deg); transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(3px, 1px) rotate(-1deg); -moz-transform: translate(3px, 1px) rotate(-1deg); transform: translate(3px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); -moz-transform: translate(-1px, -1px) rotate(1deg); transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(1px, 2px) rotate(0deg); -moz-transform: translate(1px, 2px) rotate(0deg); transform: translate(1px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); -moz-transform: translate(1px, -2px) rotate(-1deg); transform: translate(1px, -2px) rotate(-1deg); }
}


@-o-keyframes shake {
  0% { -webkit-transform: translate(1px, 1px) rotate(0deg); -o-transform: translate(1px, 1px) rotate(0deg); transform: translate(1px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); -o-transform: translate(-1px, -2px) rotate(-1deg); transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); -o-transform: translate(-3px, 0px) rotate(1deg); transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(3px, 2px) rotate(0deg); -o-transform: translate(3px, 2px) rotate(0deg); transform: translate(3px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); -o-transform: translate(1px, -1px) rotate(1deg); transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); -o-transform: translate(-1px, 2px) rotate(-1deg); transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); -o-transform: translate(-3px, 1px) rotate(0deg); transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(3px, 1px) rotate(-1deg); -o-transform: translate(3px, 1px) rotate(-1deg); transform: translate(3px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); -o-transform: translate(-1px, -1px) rotate(1deg); transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(1px, 2px) rotate(0deg); -o-transform: translate(1px, 2px) rotate(0deg); transform: translate(1px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); -o-transform: translate(1px, -2px) rotate(-1deg); transform: translate(1px, -2px) rotate(-1deg); }
}


@keyframes shake {
  0% { -webkit-transform: translate(1px, 1px) rotate(0deg); -moz-transform: translate(1px, 1px) rotate(0deg); -o-transform: translate(1px, 1px) rotate(0deg); transform: translate(1px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); -moz-transform: translate(-1px, -2px) rotate(-1deg); -o-transform: translate(-1px, -2px) rotate(-1deg); transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); -moz-transform: translate(-3px, 0px) rotate(1deg); -o-transform: translate(-3px, 0px) rotate(1deg); transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(3px, 2px) rotate(0deg); -moz-transform: translate(3px, 2px) rotate(0deg); -o-transform: translate(3px, 2px) rotate(0deg); transform: translate(3px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); -moz-transform: translate(1px, -1px) rotate(1deg); -o-transform: translate(1px, -1px) rotate(1deg); transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); -moz-transform: translate(-1px, 2px) rotate(-1deg); -o-transform: translate(-1px, 2px) rotate(-1deg); transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); -moz-transform: translate(-3px, 1px) rotate(0deg); -o-transform: translate(-3px, 1px) rotate(0deg); transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(3px, 1px) rotate(-1deg); -moz-transform: translate(3px, 1px) rotate(-1deg); -o-transform: translate(3px, 1px) rotate(-1deg); transform: translate(3px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); -moz-transform: translate(-1px, -1px) rotate(1deg); -o-transform: translate(-1px, -1px) rotate(1deg); transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(1px, 2px) rotate(0deg); -moz-transform: translate(1px, 2px) rotate(0deg); -o-transform: translate(1px, 2px) rotate(0deg); transform: translate(1px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); -moz-transform: translate(1px, -2px) rotate(-1deg); -o-transform: translate(1px, -2px) rotate(-1deg); transform: translate(1px, -2px) rotate(-1deg); }
}
.intro{
  animation: introf ease-in-out 2.5s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: introf ease-in-out 4s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: introf ease-in-out 4s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: introf ease-in-out 4s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: introf ease-in-out 4s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@-webkit-keyframes introf{
  0% {
    opacity:0;
    -webkit-transform:scaleX(0.75) scaleY(0.75) ;
            transform:scaleX(0.75) scaleY(0.75) ;
  }
  100% {
    opacity:1;
    -webkit-transform:scaleX(1.0) scaleY(1.0) ;
            transform:scaleX(1.0) scaleY(1.0) ;
  }
}
@-moz-keyframes introf{
  0% {
    opacity:0;
    -moz-transform:scaleX(0.75) scaleY(0.75) ;
         transform:scaleX(0.75) scaleY(0.75) ;
  }
  100% {
    opacity:1;
    -moz-transform:scaleX(1.0) scaleY(1.0) ;
         transform:scaleX(1.0) scaleY(1.0) ;
  }
}
@-o-keyframes introf{
  0% {
    opacity:0;
    -o-transform:scaleX(0.75) scaleY(0.75) ;
       transform:scaleX(0.75) scaleY(0.75) ;
  }
  100% {
    opacity:1;
    -o-transform:scaleX(1.0) scaleY(1.0) ;
       transform:scaleX(1.0) scaleY(1.0) ;
  }
}
@keyframes introf{
  0% {
    opacity:0;
    -webkit-transform:scaleX(0.75) scaleY(0.75) ;
       -moz-transform:scaleX(0.75) scaleY(0.75) ;
         -o-transform:scaleX(0.75) scaleY(0.75) ;
            transform:scaleX(0.75) scaleY(0.75) ;
  }
  100% {
    opacity:1;
    -webkit-transform:scaleX(1.0) scaleY(1.0) ;
       -moz-transform:scaleX(1.0) scaleY(1.0) ;
         -o-transform:scaleX(1.0) scaleY(1.0) ;
            transform:scaleX(1.0) scaleY(1.0) ;
  }
}

@keyframes move {
	0% {
		width: 0;
		height: 1px
	}
	10% {
		width: 50px;
		left: 0;
		right: auto
	}
	10.9% {
		width: 50px;
		right: 0;
		left: auto
	}
	20% {
		width: 0
	}
	100% {
		width: 0;
		right: 0;
		left: auto
	}
}