@import url('https://fonts.googleapis.com/css?family=Oxygen');
html{
 background: #fd746c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ff9068, #fd746c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ff9068, #fd746c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  overflow: hidden;
  color: white;
  scroll-behavior: smooth;
  font-size: 200%;
}
a.standard{
	padding: 12.5px;
	margin: 12.5px;
	background: transparent;
	font-size: 17.5px;
	border: 2px white solid;
	color: white;
	border-radius: 15px;
 
  
}

a.standard:hover{
	background: white;
	color: #003366;
}
img{

  width: 40%;
  height: 40%;
}
.login{
  margin-top: 100%;
  color: black;
  padding: 2%;
  background-color: white;
  font-family: Oxygen;
  width: 100%;
  height: 100%;
}
i{
  font-size: 60%;
}
hr{
  border: #55efc4 30px solid;
  text-align: left;

  width: 0%;
   transition-delay: 2s;
	transition: all 4s;
  
}
