@import url(https://unpkg.com/nes.css@2.1.0/css/nes.min.css);
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

/*Classless HTML BODY*/
body{
  text-align: center;
}
/*Generic*/
.inline{
  display: inline-block;
}
.hide{
  display: none !important;

}

/* Alignments */
.center{
  text-align: center;
}
/*  Special  */
.logo{
margin: 5%;
}
.widebutton{
  padding: 10%;
  display:inline-block;
  
}
.locationchoose{
  transition: 0.5s all ease-in-out;
  height: 100%;
  width: 100%;
}



