@import url('https://fonts.googleapis.com/css?family=Raleway:300|Roboto+Slab:300');

/*Classless HTML BODY*/
body, html{
  text-align: center; 
  padding: 0;
  margin: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
  background-color: #2B2E3D;
}

.campaign-card{
  display: inline-block;
  background: white;
	color: black;
	width: 255px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
	border: 2px white solid;
	animation: skew-no-shop 1s;
	animation-play-state: paused;
}
.campaign-card .desc{
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	margin: 2.5px;
	padding: 0;
}

.campaign-card.normal { height: 355px; }

.campaign-card.normal img{
	width: 84px;
	height: 116px;
	margin: 10px;
}

hr{
  margin: 3.75%;
  background: none;
  border: white 2px solid;
  border-radius: 100%;
}

#hover-flip{
	opacity: 1 !important;
}

hr.blu{
  border-color: #2773be;
}

hr.thin{
  border-width: 1px;
}

a, button{
	cursor: pointer;
}

#icon{
  display: inline-block;
  width: 12.5%;
  margin: 10px;
}

#logo{
	margin-top: 0;
}

*{
	font-weight: 300;
  font-family: 'Raleway', sans-serif;
  outline: none;
  text-decoration: none;
}

/*Generic*/
.inline{
  display: inline-block;
}

.hide{
  display: none !important;
}

/* Alignments */
.center{
  text-align: center;
}

/*  Special  */
.logo{
  margin: 5%;
  color: white;
}

#moneyshop, #money{color: white;}

.widebutton, .widebutton:disabled{
  margin: 10px;
  display:inline-block;
  padding: 2.5%;
  width: 90%;
	color: white;
	border-radius: 5px;
	background-color: transparent;
	border: white 2px solid;
	font-size: 25px;
	transition: all 0.5s ease-in-out;
}

.widebutton:disabled{
	background: rgb(231, 80, 80);
	color: white;
}

.widebutton:hover{
	background: white;
	color: #2773be;
}

.widebutton:disabled:hover{
	background: rgb(231, 80, 80);
	color: white;
	animation: skew-no 1s;
}

@keyframes skew-no{
	0%{transform: none;}
	33.3%{transform: skew(-10deg);}
	66.6%{transform: skew(10deg);}
	100%{transform: none;}
}

@keyframes skew-no-shop{
	0%{transform: none;}
	33.3%{transform: skew(-5deg);border: 2px rgb(231, 80, 80) solid;}
	66.6%{transform: skew(5deg); border: 2px rgb(231, 80, 80) solid;}
	100%{transform: none; border:none;}
}

.widebutton:disabled{
	cursor: not-allowed;
}

.locationchoose{
  transition: 0.5s all ease-in-out;
  height: 100%;
  width: 100%;
}

#btxt{
	display: none;
	opacity: 1;
}

@keyframes fade-in{
	from{opacity: 0}
	to{opacity: 1}
}


.return-btn{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
  background:#2B2E3D;
  padding: 16px;
	height: 75px;
	padding-left:9.5px;
	padding-right: 7.5px;
	width: 35px;
	z-index: 100 !important;
  position: fixed;
  bottom: calc(50% - 75px);
  font-size: 20px;
  border: white 2px solid;
	border-left: none;
  color: white;
	transition: all 1s ease-in-out;
}

.return-btn i{
	position: relative;
	right: 2px;
}

.return-btn i::after{
	content: 'Back';
	position: relative;
	font-family: 'Raleway', sans-serif;
	left: 10px;
	opacity: 0;
	animation: fade-out 1.5s ease-in-out;
}

.return-btn:hover i::after{
	opacity: 1;
	animation: fade-in 1.5s ease-in-out;
}

button.standard{
	padding: 12.5px;
	margin: 12.5px;
	background: transparent;
	font-size: 17.5px;
	border: 2px white solid;
	color: white;
	border-radius: 15px;
	transition: all 1s ease;
}

button.standard:hover{
	background: white;
	color: #2773be;
}

.subtitle{
  margin: 0;
  display: block;
  padding: 16px;
  background: white;
  color: #2773be;
}

.shopcard-inline.big-upgrade{
	background: #2B2E3D;
	color: white;
	position: relative;
	top: 2px;
	box-shadow: 0 0 25px rgba(255, 255, 255, 0.301)
}

.shopcard-inline.big-upgrade .buy-now{
	border-radius: 15px;
	border-color: white;
	color: white;
	background: #2B2E3D;
}

.shopcard-inline.big-upgrade .buy-now:hover{
	border-radius: 15px;
	border-color: white;
	color: #2B2E3D;
	background: white;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.shopcard-inline.big-upgrade .ttl{
	color: white;
	font-family: 'Roboto Slab', sans-serif;
}

.shopcard-inline.big-upgrade hr.blu.thin{
	border-color: white;
}

.shopcard-inline{
  display: inline-block;
  background: white;
  padding: 10px;
  width: 255px;
  height: 255px;
  margin: 10px;
  border-radius: 10px;
	border: 2px white solid;
	animation: skew-no-shop 1s;
	animation-play-state: paused;
}

.return-btn:hover{
  color: #2B2E3D;
  background: white;
	border-color: #2B2E3D;
	padding-right: 10px;
	width: 125px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}



.coin{
  animation-duration: 1s;
width: 15%;
height: 15%;
transition: all 1s ease-in-out;
}
.card{
  background-color: white;
  padding: 5%;
  border-radius: 5px;
  width: 80%;
  margin: 5% auto;
  text-align: left;
 
}
.container{
   display: inline-block;
}
.bar{
  display: none;
  background-color: #2773be;
  border-radius: 10px;
  height: 5px;
  margin-left: 5px;
  margin-bottom: 2.5px;
  width: 0%;
}
.bar .slow{
	animation: none;

}
.moneydisplay{
  background: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  width: 20%;
  display: inline-block;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 2%;
  margin-left: 2%;
 padding-top: 2.5%;
 padding-bottom: 2.5%;
 padding-left: 10%;
 padding-right: 10%;
  border-radius: 3px;
transition: all 1s ease-in-out;
box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
color: white;
}


.moneydisplay h2{
  font-family: 'Roboto', sans-serif;
  transition: all 1s ease-in-out;
}
.moneydisplay i{
 color:white;
  
}

button.buy-bot, button.buy-now{
  color: #2773be;
  padding: 7.5px;
  font-size: 17.5px;
  border: #2773be solid 2px;
  background: white;
  transition: all ease-in-out 0.5s;
}

button.buy-bot:hover, button.buy-now:hover{
  color: white;
  background: #2773be;
}
.item{
  display: inline-block;
  
}
.itemimg{
  width: 15%;
  display: inline-block;
  height: 20%;
}
#marketingpannel{
color: white;

}
#marketingpannel .shopcard-inline{
  color: black;
  
  }
.marketing img{
  width: 30%;
  height: 30%;

}
.noti{
  background-color: rgb(255, 255, 255);
  padding: 20px;
  width: 200px;
  position: fixed;
  left: calc(100% + 200px);
  border-radius: 5px;
	border: 2px #2B2E3D solid;
  height: 50px;
	z-index: 100 !important;
  text-align: left;
  padding-right: 100px;
  top: 80%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);  
   transition: left 1s ease-in-out;
}
.noti h1{
  font-size: 100%; 
  font-weight: bolder; 
}
.noti p{
  font-size: 70%;  
}
/* Animations*/
@keyframes ease-width-fs{
  0%{width: 0;}
  100%{
    width: 70%;
  }
}


@keyframes flip{
  from{
    transform: rotateX(0deg)
  } 
  to{
    transform: rotateX(180deg)
  } 
}

/*Animate.css */
@-webkit-keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

@keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

.jello {
  -webkit-animation-name: jello;
  animation-name: jello;
  -webkit-transform-origin: center;
  transform-origin: center;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.personflip{
  animation: personflipkey linear 1s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: personflipkey linear 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: personflipkey linear 1s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: personflipkey linear 1s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: personflipkey linear 1s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes personflipkey{
  0% {
    transform:  rotate(0deg) scaleX(1.00) skewX(0deg) ;
  }
  29% {
    transform:  rotate(32deg) scaleX(1.18) skewX(5deg) ;
  }
  47% {
    transform:  rotate(-34deg) scaleX(1.29) ;
  }
  100% {
    transform:  rotate(0deg) scaleX(1.00) skewX(5deg) ;
  }
}

@-moz-keyframes personflipkey{
  0% {
    -moz-transform:  rotate(0deg) scaleX(1.00) skewX(0deg) ;
  }
  29% {
    -moz-transform:  rotate(32deg) scaleX(1.18) skewX(5deg) ;
  }
  47% {
    -moz-transform:  rotate(-34deg) scaleX(1.29) ;
  }
  100% {
    -moz-transform:  rotate(0deg) scaleX(1.00) skewX(5deg) ;
  }
}

@-webkit-keyframes personflipkey {
  0% {
    -webkit-transform:  rotate(0deg) scaleX(1.00) skewX(0deg) ;
  }
  29% {
    -webkit-transform:  rotate(32deg) scaleX(1.18) skewX(5deg) ;
  }
  47% {
    -webkit-transform:  rotate(-34deg) scaleX(1.29) ;
  }
  100% {
    -webkit-transform:  rotate(0deg) scaleX(1.00) skewX(5deg) ;
  }
}

@-o-keyframes personflipkey {
  0% {
    -o-transform:  rotate(0deg) scaleX(1.00) skewX(0deg) ;
  }
  29% {
    -o-transform:  rotate(32deg) scaleX(1.18) skewX(5deg) ;
  }
  47% {
    -o-transform:  rotate(-34deg) scaleX(1.29) ;
  }
  100% {
    -o-transform:  rotate(0deg) scaleX(1.00) skewX(5deg) ;
  }
}

@-ms-keyframes personflipkey {
  0% {
    -ms-transform:  rotate(0deg) scaleX(1.00) skewX(0deg) ;
  }
  29% {
    -ms-transform:  rotate(32deg) scaleX(1.18) skewX(5deg) ;
  }
  47% {
    -ms-transform:  rotate(-34deg) scaleX(1.29) ;
  }
  100% {
    -ms-transform:  rotate(0deg) scaleX(1.00) skewX(5deg) ;
  }
}
.spin{
  animation: ecoflipf linear 2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: ecoflipf linear 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: ecoflipf linear 2s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: ecoflipf linear 2s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: ecoflipf linear 2s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes ecoflipf{
  0% {
    transform:  rotate(0deg) ;
  }
  99% {
    transform:  rotate(360deg) ;
  }
}

@-moz-keyframes ecoflipf{
  0% {
    -moz-transform:  rotate(0deg) ;
  }
  99% {
    -moz-transform:  rotate(360deg) ;
  }
}

@-webkit-keyframes ecoflipf {
  0% {
    -webkit-transform:  rotate(0deg) ;
  }
  99% {
    -webkit-transform:  rotate(360deg) ;
  }
}

@-o-keyframes ecoflipf {
  0% {
    -o-transform:  rotate(0deg) ;
  }
  99% {
    -o-transform:  rotate(360deg) ;
  }
}

@-ms-keyframes ecoflipf {
  0% {
    -ms-transform:  rotate(0deg) ;
  }
  99% {
    -ms-transform:  rotate(360deg) ;
  }
}
.bottleflip{
  animation: bottleflipf linear 1s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: bottleflipf linear 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: bottleflipf linear 1s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: bottleflipf linear 1s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: bottleflipf linear 1s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes bottleflipf{
  0% {
    transform:  translate(-1px,1px)  rotate(0deg) ;
  }
  23% {
    transform:  translate(4px,-52px)  rotate(90deg) ;
  }
  50% {
    transform:  translate(10px,-71px)  rotate(180deg) ;
  }
  100% {
    transform:  translate(0px,0px)  rotate(360deg) ;
  }
}

@-moz-keyframes bottleflipf{
  0% {
    -moz-transform:  translate(-1px,1px)  rotate(0deg) ;
  }
  23% {
    -moz-transform:  translate(4px,-52px)  rotate(90deg) ;
  }
  50% {
    -moz-transform:  translate(10px,-71px)  rotate(180deg) ;
  }
  100% {
    -moz-transform:  translate(0px,0px)  rotate(360deg) ;
  }
}

@-webkit-keyframes bottleflipf {
  0% {
    -webkit-transform:  translate(-1px,1px)  rotate(0deg) ;
  }
  23% {
    -webkit-transform:  translate(4px,-52px)  rotate(90deg) ;
  }
  50% {
    -webkit-transform:  translate(10px,-71px)  rotate(180deg) ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  rotate(360deg) ;
  }
}

@-o-keyframes bottleflipf {
  0% {
    -o-transform:  translate(-1px,1px)  rotate(0deg) ;
  }
  23% {
    -o-transform:  translate(4px,-52px)  rotate(90deg) ;
  }
  50% {
    -o-transform:  translate(10px,-71px)  rotate(180deg) ;
  }
  100% {
    -o-transform:  translate(0px,0px)  rotate(360deg) ;
  }
}

@-ms-keyframes bottleflipf {
  0% {
    -ms-transform:  translate(-1px,1px)  rotate(0deg) ;
  }
  23% {
    -ms-transform:  translate(4px,-52px)  rotate(90deg) ;
  }
  50% {
    -ms-transform:  translate(10px,-71px)  rotate(180deg) ;
  }
  100% {
    -ms-transform:  translate(0px,0px)  rotate(360deg) ;
  }
}
.magnetflipper{
  animation: magnetflipperf ease-in-out 4s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: magnetflipperf ease-in-out 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: magnetflipperf ease-in-out 4s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: magnetflipperf ease-in-out 4s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: magnetflipperf ease-in-out 4s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes magnetflipperf{
  0% {
    transform:  translate(0px,0px)  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  33% {
    transform:  translate(35px,0px)  rotate(0deg) scaleX(2.07) scaleY(0.60) ;
  }
  63% {
    transform:  translate(70px,0px)  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  81% {
    transform:  translate(70px,0px)  rotate(0deg) scaleX(2.00) scaleY(0.60) ;
  }
  81% {
    transform:  translate(70px,0px)  rotate(180deg) scaleX(2.00) scaleY(0.60) ;
  }
  100% {
    transform:  translate(0px,0px)  rotate(180deg) scaleX(1.00) scaleY(1.00) ;
  }
}

@-moz-keyframes magnetflipperf{
  0% {
    -moz-transform:  translate(0px,0px)  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  33% {
    -moz-transform:  translate(35px,0px)  rotate(41deg) scaleX(2.07) scaleY(0.60) ;
  }
  63% {
    -moz-transform:  translate(70px,0px)  rotate(129deg) scaleX(1.00) scaleY(1.00) ;
  }
  81% {
    -moz-transform:  translate(70px,0px)  rotate(0deg) scaleX(2.00) scaleY(0.60) ;
  }
  81% {
    -moz-transform:  translate(70px,0px)  rotate(167deg) scaleX(2.00) scaleY(0.60) ;
  }
  100% {
    -moz-transform:  translate(0px,0px)  rotate(180deg) scaleX(1.00) scaleY(1.00) ;
  }
}

@-webkit-keyframes magnetflipperf {
  0% {
    -webkit-transform:  translate(0px,0px)  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  33% {
    -webkit-transform:  translate(35px,0px)  rotate(41deg) scaleX(2.07) scaleY(0.60) ;
  }
  63% {
    -webkit-transform:  translate(70px,0px)  rotate(129deg) scaleX(1.00) scaleY(1.00) ;
  }
  81% {
    -webkit-transform:  translate(70px,0px)  rotate(0deg) scaleX(2.00) scaleY(0.60) ;
  }
  81% {
    -webkit-transform:  translate(70px,0px)  rotate(167deg) scaleX(2.00) scaleY(0.60) ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  rotate(180deg) scaleX(1.00) scaleY(1.00) ;
  }
}

@-o-keyframes magnetflipperf {
  0% {
    -o-transform:  translate(0px,0px)  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  33% {
    -o-transform:  translate(35px,0px)  rotate(41deg) scaleX(2.07) scaleY(0.60) ;
  }
  63% {
    -o-transform:  translate(70px,0px)  rotate(129deg) scaleX(1.00) scaleY(1.00) ;
  }
  81% {
    -o-transform:  translate(70px,0px)  rotate(0deg) scaleX(2.00) scaleY(0.60) ;
  }
  81% {
    -o-transform:  translate(70px,0px)  rotate(167deg) scaleX(2.00) scaleY(0.60) ;
  }
  100% {
    -o-transform:  translate(0px,0px)  rotate(180deg) scaleX(1.00) scaleY(1.00) ;
  }
}

@-ms-keyframes magnetflipperf {
  0% {
    -ms-transform:  translate(0px,0px)  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  33% {
    -ms-transform:  translate(35px,0px)  rotate(41deg) scaleX(2.07) scaleY(0.60) ;
  }
  63% {
    -ms-transform:  translate(70px,0px)  rotate(129deg) scaleX(1.00) scaleY(1.00) ;
  }
  81% {
    -ms-transform:  translate(70px,0px)  rotate(0deg) scaleX(2.00) scaleY(0.60) ;
  }
  81% {
    -ms-transform:  translate(70px,0px)  rotate(167deg) scaleX(2.00) scaleY(0.60) ;
  }
  100% {
    -ms-transform:  translate(0px,0px)  rotate(180deg) scaleX(1.00) scaleY(1.00) ;
  }
}
.superComputer{
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s; 
  -webkit-animation-iteration-count: infinite; 
          animation-iteration-count: infinite; 
}


@-webkit-keyframes shake {
  0% { -webkit-transform: translate(1px, 1px) rotate(0deg); transform: translate(1px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(3px, 2px) rotate(0deg); transform: translate(3px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(3px, 1px) rotate(-1deg); transform: translate(3px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(1px, 2px) rotate(0deg); transform: translate(1px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); transform: translate(1px, -2px) rotate(-1deg); }
}


@keyframes shake {
  0% { -webkit-transform: translate(1px, 1px) rotate(0deg); transform: translate(1px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(3px, 2px) rotate(0deg); transform: translate(3px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(3px, 1px) rotate(-1deg); transform: translate(3px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(1px, 2px) rotate(0deg); transform: translate(1px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); transform: translate(1px, -2px) rotate(-1deg); }
}

@-webkit-keyframes barframes{
from {width: 0%;}
to {width: 70%;}

}
@keyframes barframes{
from {width: 0%;}
to {width: 70%;}

}
.antiGravity{
  -webkit-animation: antiGravity 1.5s infinite alternate;
        animation: antiGravity 1.5s infinite alternate;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
}
@-webkit-keyframes antiGravity{
0% { -webkit-transform: translateY(0); transform: translateY(0); }
100% { -webkit-transform: translateY(-20px); transform: translateY(-20px); }
}
@keyframes antiGravity{
0% { -webkit-transform: translateY(0); transform: translateY(0); }
100% { -webkit-transform: translateY(-20px); transform: translateY(-20px); }
}

.ufo{
  animation: ufoFlipperAnim 4.5s infinite ease-in-out;
}

@keyframes ufoFlipperAnim{
  0% { 
		transform: none; 
	}
	45% {
		transform: translateY(-40px) rotateY(720deg); 
	}
  90% {
		transform: translateY(0) rotateY(0deg); 
	}
  100%{
    transform: none;
  }
}
.usMint{
  animation: usMintf linear 2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: usMintf linear 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: usMintf linear 2s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: usMintf linear 2s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: usMintf linear 2s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes usMintf{
  0% {
    transform:  translate(0px,0px)  scaleX(0.00) ;
  }
  20% {
    transform:  translate(51px,0px)  scaleX(1.00) ;
  }
  88% {
    transform:  translate(206px,0px)  scaleX(1.00) ;
  }
  100% {
    transform:  translate(227px,0px)  scaleX(0.00) ;
  }
}

@-moz-keyframes usMintf{
  0% {
    -moz-transform:  translate(0px,0px)  scaleX(0.00) ;
  }
  20% {
    -moz-transform:  translate(51px,0px)  scaleX(1.00) ;
  }
  88% {
    -moz-transform:  translate(206px,0px)  scaleX(1.00) ;
  }
  100% {
    -moz-transform:  translate(227px,0px)  scaleX(0.00) ;
  }
}

@-webkit-keyframes usMintf {
  0% {
    -webkit-transform:  translate(0px,0px)  scaleX(0.00) ;
  }
  20% {
    -webkit-transform:  translate(51px,0px)  scaleX(1.00) ;
  }
  88% {
    -webkit-transform:  translate(206px,0px)  scaleX(1.00) ;
  }
  100% {
    -webkit-transform:  translate(227px,0px)  scaleX(0.00) ;
  }
}

@-o-keyframes usMintf {
  0% {
    -o-transform:  translate(0px,0px)  scaleX(0.00) ;
  }
  20% {
    -o-transform:  translate(51px,0px)  scaleX(1.00) ;
  }
  88% {
    -o-transform:  translate(206px,0px)  scaleX(1.00) ;
  }
  100% {
    -o-transform:  translate(227px,0px)  scaleX(0.00) ;
  }
}

@-ms-keyframes usMintf {
  0% {
    -ms-transform:  translate(0px,0px)  scaleX(0.00) ;
  }
  20% {
    -ms-transform:  translate(51px,0px)  scaleX(1.00) ;
  }
  88% {
    -ms-transform:  translate(206px,0px)  scaleX(1.00) ;
  }
  100% {
    -ms-transform:  translate(227px,0px)  scaleX(0.00) ;
  }
}